{% extends 'base.html' %}


{% block body %}

<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card py-3 px-2">
                <p class="text-center mb-3 mt-2">Evilly Ferreira</p>
<div class="card" style="width: 21rem;">
  <img class="card-img-top" src="{{url_for('static',filename='kikii.jpg') }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Code Like a Girl</h5>
      <p class="card-text ">Entre back-end e front-end, escrever esse texto com certeza foi a tarefa mais difícil de ser feita. Simplesmente me buguei nessa parte, me questionando o porquê que esse site que era pra ser feito simples e somente por estudo tinha se tornado algo maior pra mim? Dei um get(pause) e percebi que isso se dá devido a paixão. Aquelas paixões mesmo que a gente fica com brilho nos olhos e energia para fazer qualquer coisa, que quer ver a outra metade todos os dias, contemplar cada aspecto e poder crescer cada vez mais, sabe? Então, é isso o que eu sinto com desenvolvimento web.<br> Acho que tô apaixonada... </p>
    <p class="card-text"></p>
    <a href="https://evillyf.github.io/meu-contato/" target="_blank" class="btn btn-primary">Contatos</a>
  </div>
</div>

{% endblock %}