
{% extends 'base.html' %}


{% block body %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

</style>
        <div class="container mt-3 text-sm-left">
            <h1 style="color: rgb(99, 39, 120); font-family: 'Gideon Roman'">DEV COMUNITY - OUR PLACE TO LEARN TOGETHER</h1>

            <h2>What do you want to share?</h2>

            <hr>
            {% for post in posts %}
            <div style="word-wrap: break-word;" class="row border mt-4 p-3 meupost">
                <div class="col col-3">
                    <div class="image pe-2"> <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded" width="100"> </div>
                    <strong>{{ post.autor.username }}</strong>
                    <div class="row  mt-4">
                            {% for curso in post.autor.cursos.split(';') %}
                                <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                            {% endfor %}
                    </div>
                </div>
                <div class="row col col-11">
                    <a style="text-decoration: none" href="{{ url_for('exibir_post', post_id=post.id) }}"><h3>{{ post.titulo }}</h3></a>
                    <p>{{ post.corpo }}</p>
                </div>

            </div>
            {% endfor %}
        </div>
<!--modal-->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Seja muito bem-vindo(a)!</h5>
                <button type="button" class="close"  data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>O Dev Comunity foi criado com o intuito de conectar estudantes, experts e todos outros amantes de linguagem de programação que tenham vontade de compartilhar conhecimentos e obter aprendizados e informações. Em breve você poderá fazer perguntas e ser respondido através de replys, mas por enquanto sinta-se a vontade para passar adiante um código, uma vaga de emprego dev, uma dica de programação, vídeos sobre o assunto e até mesmo um projeto ou seu portfólio. Espero que gostem!</p>
               <!-- a nivel de conhecimento - posso deixar para se quiserem receber news de atualização do site
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
                -->
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function(){
        $("#myModal").modal('show');
    });
</script>

{% endblock %}