{% extends 'base.html' %}


{% block body %}
<div class="texto container">
    <br>
    <h2>FAÇA LOGIN PARA CONTINUAR!</h2>
    <hr>

        <div class="col">
                <form method="POST" action="" class="border p-5 m-3">
                    {{ form_login.csrf_token }}
                <legend> LOGIN</legend>
                    <fieldset>
                        <div class="form-group">
                        {{ form_login.email.label(class="form-control-label") }}
                            {%if form_login.email.errors%}
                            {{ form_login.email(class="form-control-sm is-invalid mt-4 col-lg-3 col-lg-offset-3", placeholder="Endereço de email") }}
                        <div class="invalid-feedback">
                                {%for erro in form_login.email.errors%}
                                    {{erro}}
                                {%endfor%}
                        </div>
                            {%else%}
                                {{ form_login.email(class="form-control-sm mt-4 col-lg-3 col-lg-offset-3", placeholder="Endereço de email") }}
                        {%endif%}

                        </div>

                        <div class="form-group">
                        {{ form_login.senha.label(class="form-control-label")  }}
                            {%if form_login.senha.errors%}
                            {{ form_login.senha(class="form-control-sm is-invalid mt-4 col-lg-3 col-lg-offset-3", placeholder="Senha") }}
                        <div class="invalid-feedback">
                                {%for erro in form_login.senha.errors%}
                                    {{erro}}
                                {%endfor%}
                        </div>
                            {%else%}
                                {{ form_login.senha(class="form-control-sm mt-4 col-lg-3 col-lg-offset-3", placeholder="Senha") }}
                        {%endif%}
                        </div>
                        <br>
                        <div class="form-group">
                        {{ form_login.lembrar_dados.label(class="form-check-label")  }}
                        {{ form_login.lembrar_dados(class="form-check-input") }}
                        </div>
                    </fieldset>

                         {{ form_login.botao_submit_login(class="btn btn-primary mt-4")  }}

                </form>
        </div>

</div>

{% endblock %}