<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('home') }}">
    <img src="{{url_for('static',filename='logo.png') }}" width="60" height="60" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('usuarios') }}">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('contato') }}">Developer's Contact</a>
      </li>
    </ul>
    <form style="list-style-type: none;" class="form-inline my-2 my-lg-0">
    {% if current_user.is_authenticated %}
           <li class="nav-item p-3">
        <a  href="{{ url_for('criar_post') }}" class="btn-navbar btn btn-outline-secondary my-2 my-sm-0" type="submit">Create Post</a>
           </li>


          <li class="nav-item p-3">
        <a href="{{ url_for('perfil') }}" class="btn-navbar btn btn-outline-secondary my-2 my-sm-0" type="submit">My Profile</a>
          </li>


          <li class="nav-item p-3">
        <a  href="{{ url_for('sair') }}" class="botao-perigo btn btn-danger my-2 my-sm-0" type="submit">Log Out</a>
          </li>
        {% else %}
          <li class="nav-item p-3">
        <a href="{{ url_for('login') }}" class="btn-navbar btn btn-outline-secondary my-2 my-sm-0" type="submit">Login</a>
          </li>

          <li class="nav-item p-3">
        <a href="{{ url_for('cadastro') }}"class="btn-navbar btn btn-outline-secondary my-2 my-sm-0" type="submit" role="button">Create Account</a>
          </li>
        {% endif %}
    </form>
  </div>
</nav>