{% extends 'base.html' %}



{% block body %}
<style>
    * {
    margin: 0;
    padding: 0
}

body {
    background: rgb(99, 39, 120)
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s
}

.image img {
    transition: all 0.5s

}

.card:hover .image img {
    transform: scale(1.5)

}



.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 16px;
    font-weight: 600

}

.idd1 {
    font-size: 14px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 13px;
    font-weight: 500;
    color: #444444
}

.btnimg{
background-color:black !important;
}
.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background: linear-gradient(135deg, rgba(176, 106, 252, 1) 39%, rgba(116, 17, 255, 1) 101%);
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position:center;
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}

.number1{
    font-size: 13px;
    font-weight: 500;
    color: #444444
}
</style>
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary btnimg"> <img style="border-radius: 50px;" src="{{ foto_perfil }}" alt="Avatar" height="120" width="120" /></button> <span class="name mt-3">{{ current_user.username }}</span> <span class="idd">{{ current_user.email }}</span>
             {% if 'Not informed' in current_user.cursos %}
                <div class="d-flex flex-row justify-content-center align-items-center mt-3"><span class="number1">0&nbsp;</span> <span class="follow">Learnings</span> </div>
            {% else %}
                <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="follow">Learning</span> <span class="number1">{{ current_user.cursos.count(';') + 1 }}</span> </div>
            {% endif %}

            <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number1">{{ current_user.contar_posts() }} <span class="follow">Posts</span></span> </div>
        </div>
                <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                <a href="{{ url_for('editar_perfil')}}">
                <button class="btn1 btn-dark">Edit Profile</button>
                </a>
                </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col col-4" style="text-align: center">
        <strong>I'm learning...</strong><br>
        {% for curso in current_user.cursos.split(';') %}
        <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
        {% endfor %}
    </div>
</div>
 <script>

        </script>
{% block form_editar_perfil %}
{% endblock %}
{% endblock %}